@charset "UTF-8";
/* normalize */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/* end normalize */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h2,
h3 {
  color: #212121;
  font-weight: 700;
}

li {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

.page-header__row, .page-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Акцент  текста */
/* Акцент  фона */
.form-subscribe__submit, .section-hero__btn,
.social-list__link:hover,
.social-list__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-list__link {
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.form-subscribe__input-text {
  border-radius: 4px;
  background-color: transparent;
  letter-spacing: 0.03em;
}

.form-subscribe__submit, .section-hero__btn {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  /*
  color: var(--color-white);
  background-color: var(--color-accent);
*/
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.section-features, .section-team__list {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -30px;
  margin-bottom: -30px;
}

.section-features__item, .section-team__item {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* components */
.page {
  margin: 0;
  color: #757575;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.page__container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page__section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page__section-title {
  padding-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__row {
  min-height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: #212121;
}

.logo__accent {
  color: #2196f3;
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer--pale {
  color: #ffffff;
}

.page-footer__row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-footer__item {
  text-align: center;
}

.page-footer__item:not(:last-child) {
  margin-bottom: 60px;
}

.page-footer__subject {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.page-footer__logo {
  color: #ffffff;
  margin-bottom: 20px;
}

.address {
  color: rgba(255, 255, 255, 0.4);
  line-height: 1.71;
  font-style: normal;
}

.address__item {
  display: block;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0px;
  margin-left: -5px;
  margin-right: -5px;
}

.social-list__item {
  margin-left: 5px;
  margin-right: 5px;
}

.social-list__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 11px;
  border-radius: 22px;
  color: #afb1b8;
}

.social-list__link--on-dark {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.social-list__icon {
  fill: currentColor;
  width: 22px;
  height: 22px;
}

.form-subscribe {
  margin-left: -6px;
  margin-right: -6px;
}

.form-subscribe__input-text {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-subscribe__submit {
  margin-left: 6px;
  margin-right: 6px;
}

.section-hero {
  padding: 118px 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero-image/hero-image.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero-image/hero-image.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.section-hero__title {
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-features__icon-box {
  padding: 25px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.section-features__icon {
  width: 70px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-features__subject {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.section-features__text {
  line-height: 1.71;
}

.section-activity {
  display: none;
}

.section-team {
  background-color: #f5f4fa;
}

.section-team__item {
  padding-bottom: 24px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.section-team__icon {
  margin-bottom: 30px;
}

.section-team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.section-team__role {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}
/*# sourceMappingURL=main.css.map */