@charset "UTF-8";
/* normalize */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/* end normalize */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h2,
h3 {
  color: #212121;
  font-weight: 700;
}

li {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

.section-customers__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.checkbox__native {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Акцент  текста */
.checkbox__icon,
.section-customers__link:hover,
.section-customers__link:focus {
  color: #2196f3;
}

.section-customers__link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

/* Акцент  фона */
.form-subscribe__submit, .section-hero__btn, .form-order-service__submit,
.social-list__link:hover,
.portfolio-filter__button:hover,
.social-list__link:focus,
.portfolio-filter__button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-list__link, .portfolio-filter__button {
  -webkit-transition-property: color, background;
  transition-property: color, background;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.form-subscribe__submit, .section-hero__btn, .form-order-service__submit {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  /*
  color: var(--color-white);
  background-color: var(--color-accent);
*/
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.portfolio-filter__button {
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio-filter__button:hover, .portfolio-filter__button:focus {
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.section-features, .section-team__list, .section-customers__list, .portfolio-list {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -30px;
}

.section-features__item, .section-team__item, .team-cart, .section-customers__item, .portfolio-list__item {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

/* components */
.page {
  margin: 0;
  color: #757575;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.page__container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .page__container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .page__container {
    max-width: 768px;
  }
}

.page__section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page__section-title {
  padding-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__row {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .page-header__row {
    min-height: 80px;
  }
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: #212121;
}

.logo__accent {
  color: #2196f3;
}

.page-footer {
  background-color: #2f303a;
}

.page-footer--pale {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .page-footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page-footer__item {
  text-align: center;
}

.page-footer__item:not(:last-child) {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .page-footer__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .page-footer__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.page-footer__subject {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.page-footer__logo {
  color: #ffffff;
  margin-bottom: 20px;
}

.address {
  color: rgba(255, 255, 255, 0.4);
  line-height: 1.71;
  font-style: normal;
}

.address__item {
  display: block;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0px;
  margin-left: -5px;
  margin-right: -5px;
}

.social-list__item {
  margin-left: 5px;
  margin-right: 5px;
}

.social-list__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 11px;
  border-radius: 22px;
  color: #afb1b8;
}

.social-list__link--on-dark {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.social-list__icon {
  fill: currentColor;
  width: 22px;
  height: 22px;
}

/* forms */
/**/
.form-subscribe__input-text, .form-order-service__input-text {
  border-radius: 4px;
  background-color: transparent;
  letter-spacing: 0.03em;
}

.checkbox {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox__icon {
  width: inherit;
  height: inherit;
  cursor: pointer;
  margin-top: -2px;
  margin-left: -2px;
  opacity: 0;
}

.checkbox__native:checked ~ .checkbox__icon {
  opacity: 1;
}

/* policy-agreement */
.policy-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 11px 30px;
}

.policy-agreement__warning {
  text-align: left;
  padding-left: 9px;
  line-height: 1.71;
}

.policy-agreement__rules-link {
  white-space: nowrap;
  text-decoration: underline;
  text-transform: capitalize;
  color: #2196f3;
}

.form-subscribe__input-text {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-subscribe__submit {
  margin-left: 6px;
  margin-right: 6px;
}

.section-hero {
  padding: 118px 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero-image/hero-image.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero-image/hero-image.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.section-hero__title {
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .section-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .section-features__item {
    width: calc((100% - 2 * 30px) / 2);
  }
}

.section-features__icon-box {
  padding: 25px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.section-features__icon {
  width: 70px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-features__subject {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-features__subject {
    text-align: left;
  }
}

.section-features__text {
  line-height: 1.71;
}

.section-activity {
  display: none;
}

.section-team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .section-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .section-team__item {
    width: calc((100% - 2 * 30px) / 2);
  }
}

.team-cart {
  padding-bottom: 24px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.team-cart__icon {
  margin-bottom: 30px;
}

.team-cart__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-cart__role {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.section-customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-customers__item {
  min-width: calc((100% - 2 * 30px) / 2);
}

@media screen and (min-width: 768px) {
  .section-customers__item {
    min-width: calc((100% - 3 * 30px) / 3);
  }
}

.section-customers__link {
  position: relative;
  display: block;
  min-height: 90px;
  border: 1px solid;
  border-radius: 4px;
  color: #afb1b8;
}

.section-customers__icon {
  fill: currentColor;
}

.portfolio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 40px;
  margin: 0 -4px -7.5px;
}

@media screen and (min-width: 768px) {
  .portfolio-filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio-filter__button {
  margin: 0 4px 7.5px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio-list__item {
    width: calc((100% - 30px * 2) / 2);
  }
}

.portfolio-cart__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-cart__link {
  display: block;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #eeeeee;
}

.portfolio-cart__link:hover, .portfolio-cart__link:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-cart__icon {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.portfolio-cart__cell {
  padding: 20px 24px;
  /* border: 1px solid $portfolio-cell-border; 
   border-top: none; 
   border-bottom-right-radius: 5px; 
   border-bottom-left-radius: 5px; 
   height: calc(100% - 294px); */
}

.portfolio-cart__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-cart__text {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 18px;
  line-height: 1.56;
  color: transparent;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 150ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 150ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1) 150ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1) 150ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cart__link:hover .portfolio-cart__text,
.portfolio-cart__link:focus .portfolio-cart__text {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  color: #ffffff;
}

.portfolio-cart__tag {
  font-size: 16px;
  line-height: 1.87;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 481px) and (min-height: 768px) {
  .backdrop.is-hidden .modal {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
}

.blur {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: relative;
  max-width: 450px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 481px) and (min-height: 768px) {
  .modal {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 1000ms;
            transition-duration: 1000ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-delay: 0ms;
            transition-delay: 0ms;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 450px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 0;
  padding: 0;
  margin: 0;
  display: block;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.modal__close::before, .modal__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 15px;
  height: 2px;
  background-color: #212121;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.modal__close::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__close:hover::before,
.modal close:hover::after {
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
}

.form-order-service {
  text-align: center;
}

.form-order-service__subject {
  font-size: 20px;
  line-height: 1.5;
  color: #212121;
}

.form-order-service__label {
  position: relative;
  display: block;
  padding-top: 28px;
}

.form-order-service__icon {
  position: absolute;
  top: 40px;
  left: 16px;
  width: 18px;
  height: 18px;
  fill: currentColor;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.form-order-service__input-text {
  width: 100%;
  padding: 12px 18px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-order-service__input-text:focus:invalid {
  outline-color: orange;
}

.form-order-service__input-text:focus:invalid ~ .form-order-service__icon,
.form-order-service__input-text:not(:placeholder-shown):invalid ~ .form-order-service__icon {
  color: orange;
}

.form-order-service__input-text:focus ~ .form-order-service__label-text,
.form-order-service__input-text:not(:placeholder-shown) ~ .form-order-service__label-text {
  -webkit-transform: translate(-26px, calc(-17px - 100%));
          transform: translate(-26px, calc(-17px - 100%));
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #2196f3;
  -webkit-animation-name: move-label;
          animation-name: move-label;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-order-service__input-text:focus ~ .form-order-service__label-text.textarea,
.form-order-service__input-text:not(:placeholder-shown) ~ .form-order-service__label-text.textarea {
  -webkit-transform: translate(0, calc(-17px - 100%));
          transform: translate(0, calc(-17px - 100%));
}

.form-order-service__input-text:focus ~ .form-order-service__icon,
.form-order-service__input-text:not(:placeholder-shown) ~ .form-order-service__icon {
  color: #2196f3;
}

.form-order-service__input-text.textarea {
  padding: 12px 16px;
  resize: none;
}

.form-order-service__label-text {
  position: absolute;
  top: 42px;
  left: 42px;
}

.form-order-service__label-text.textarea {
  left: 16px;
}

@-webkit-keyframes move-label {
  0% {
    color: transparent;
  }
  100% {
    color: #2196f3;
  }
}

@keyframes move-label {
  0% {
    color: transparent;
  }
  100% {
    color: #2196f3;
  }
}
/*# sourceMappingURL=main.css.map */