.modal {
  position: relative;
  max-width: 450px;
  margin: 0 auto;
  padding: 40px;

  border-radius: 4px;
  background-color: $color-pale;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  @media screen and (min-width: $breakpoint-1 + 1px) and (min-height: $breakpoint-2) {
    @include transition(transform);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 450px;
  }

  //   @include transition($prop: transform);

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    //   transform: translate(33%, -33%);
    font-size: 0;
    padding: 0;
    margin: 0;
    display: block;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background-color: $color-pale;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
  }
  &__close::before,
  &__close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 15px;
    height: 2px;
    background-color: $color-text-title;
    @include transition(transform);
  }
  &__close::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &__close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &__close:hover::before,
  &__close:hover::after {
    transform: translate(-50%, -50%) rotate(0);
  }
}
