.page-footer {
  background-color: $color-footer-background;
  padding-top: 60px;
  padding-bottom: 60px;

  &--pale {
    color: $color-pale;
  }

  &__row {
    @media screen and (min-width: $breakpoint-2) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: $breakpoint-2) {
      flex-basis: 50%;

      &:last-child {
        flex-grow: 1;
      }
    }
  }
  &__subject {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
  }
  &__logo {
    color: $color-pale;
    margin-bottom: 20px;
  }
}
