.portfolio-filter {
  display: flex;
  flex-wrap: wrap;

  padding-bottom: 40px;

  margin: 0 -4px -7.5px;

  &__button {
    @extend %btn--simple;
    @extend %accent-bg-hover;
    margin: 0 4px 7.5px;
  }

  @media screen and (min-width: $breakpoint-2) {
    justify-content: center;
    padding-bottom: 30px;
  }
  @media screen and (min-width: $breakpoint-3) {
    padding-bottom: 50px;
  }
}
