.portfolio-list {
  @extend %grid;

  &__item {
    @extend %grid__item;
  }

  @media screen and (min-width: $breakpoint-2) {
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: calc((100% - 30px * 2) / 2);
    }
  }
  @media screen and (min-width: $breakpoint-3) {
    &__item {
      width: calc((100% - 30px * 3) / 3);
    }
  }
}
