.section-features {
  // Особенности

  @extend %grid;

  &__item {
    @extend %grid__item;
  }
  &__icon-box {
    padding: 25px;
    margin-bottom: 30px;
    background-color: $color-background-secondary;
  }
  &__icon {
    width: 70px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &__subject {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
  }
  &__text {
    line-height: 1.71;
  }

  @media screen and (min-width: $breakpoint-2) {
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: calc((100% - 2 * 30px) / 2);
    }

    &__subject {
      text-align: left;
    }
  }
  @media screen and (min-width: $breakpoint-3) {
    &__item {
      width: calc((100% - 4 * 30px) / 4);
    }
  }
}
