.section-customers {
  &__list {
    @extend %grid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    // width: calc((100% - (30px * 5)) / 6);
    @extend %grid__item;
    min-width: calc((100% - 2 * 30px) / 2);

    @media screen and (min-width: $breakpoint-2) {
      min-width: calc((100% - 3 * 30px) / 3);
    }

    @media screen and (min-width: $breakpoint-3) {
      min-width: calc((100% - 6 * 30px) / 6);
    }
  }

  &__link {
    @extend %accent-hover;
    position: relative;

    display: block;

    min-height: 90px;

    border: 1px solid;
    border-radius: 4px;

    color: $color-light;

    // transform: scale(1);
    // transition: transform(75ms);
  }

  // &__link:hover,
  // &__link:focus {
  //   // transform: scale(1.15);
  // }

  &__icon {
    @extend %in-center;
    fill: currentColor;
  }
}
