img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
p,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
h2,
h3 {
  color: $color-text-title;
  font-weight: 700;
}
li {
  list-style-type: none;
}
button {
  border: none;
  cursor: pointer;
}
svg {
  fill: currentColor;
  display:block;
}
