%container {
  max-width: 1200px;
  margin: 0 auto;
  // padding-left: 15px;
  // padding-right: 15px;
}

// Positions
%relative {
  position: relative;
}
%flex {
  display: flex;
}
%in-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Акцент  текста */
%accent-text,
%accent-hover:hover,
%accent-hover:focus {
  color: $color-accent;
}
%accent-hover {
  @include transition(color);
}

/* Акцент  фона */
%accent-bg,
%accent-bg-hover:hover,
%accent-bg-hover:focus {
  background-color: $color-accent;
  color: $color-pale;
}
%accent-bg-hover {
  @include transition();
}

%input-text {
  border-radius: 4px;
  background-color: transparent;
  letter-spacing: 0.03em;
}

//buttons
%btn {
  &--accent {
    display: inline-block;
    min-width: 200px;
    padding: 10px 32px;
    border-radius: 4px;
    /*
  color: var(--color-white);
  background-color: var(--color-accent);
*/
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
  }
  &--simple {
    display: block;
    padding: 6px 22px;
    border-radius: 4px;

    color: var(--color-text-title);
    background-color: var(--color-background-secondary);

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
  }
  &--simple:hover,
  &--simple:focus {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }
}
